<h1>Genres</h1>

<% @genres.each do |genre| %>
    <div><%= link_to genre.name, genre_path(genre) %></div>
<% end %>

<br>
<br>
<%= link_to "New Genre", new_genre_path %><br>
<%= link_to "Artists", artists_path %><br>
<%= link_to "Songs", songs_path %><br>